html {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
}
body {
    margin: 0;
}
h1,
h2,
h3 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    color: white; 
}


h4 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.5rem; 
}
h1 {
    font-size: 4rem;
    line-height: 5.3rem;
    color: #FFFFFF;
}
h2 {
    font-size: 27px;
    line-height: 37px;   
}

/*----------------------------------
               HEADER
----------------------------------*/
header {
    width: 100%;
    height: 83px;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.4rem;
    background-color: #000000;
}
header ul {
    padding-inline-start:0;
    color: #ffffff;
}
.flex-item-padding {
    list-style-type: none;
    padding-right: 45px;
}
.gold,
header .header-container .selected {
    color: #E3B873;
}
header a:link,
header a:active,
header a:visited {
    color: #ffffff;
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 100%;
}

header span {
    color: #E3B873;
    text-transform: uppercase;   
}
.underlined {
    text-decoration: underline;
}
.header-nav {
    display: flex;
    justify-content: space-between;
}
/*----------------------------------
               BUTTONS
----------------------------------*/
button {
    color: #ffffff;
    background-color: #E3B873;
    border-color: #E3B873;
    padding: 13px 33px;
    border-radius: 2px;
    font-style: italic;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);  
}
.btn-clear {
    background-color: transparent;
    border-color: #ffffff;
    margin-left: 18px;   
}
.btn-submit {
    padding: 13px 75px;
    font-size: 1.3rem;
    line-height: 2.7rem;  
}
.btn-on-form {
    margin-top: 39px;
    margin-left: 230px;
    padding: 15px 21px;
    font-size: 1.3rem;
    line-height: 2.1rem;
}

/*----------------------------------
               SECTION HOME
----------------------------------*/
.section-div {
    max-width: 1256px;
    margin: 0 auto;
}
.section-home {
    height: 707px;
    background-image:linear-gradient(rgba(3, 3, 3, 0.7),rgba(3, 3, 3, 0.7)), url(img/img-home.jpg);
    background-size:cover;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}
.section-home-div {
    max-width: 42%;
    padding-left: 4%;
    padding-top: 15%;
}
/*--------------------------------------------
               SECTION COMPLETED PROJECTS
--------------------------------------------*/
.section-projects {
    height: 1074px;
    background-color: #131313;
}
.section-projects-div-up {
    height: 10%;
    margin: 0;
    padding-bottom: 55px;
}
.section-projects-div-up-small {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.section-projects-div-up-left {
    max-width: 40%;
}
.section-projects-div-up a:link,
.section-projects-div-up a:active,
.section-projects-div-up a:visited {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}
.section-projects-div-up h3 {
    font-size: 1.4rem;
    line-height: 1.9rem;
    margin-right: 60px;
}
.section-projects-div-left {
    max-width: 40%;
    display: inline-block;
}

.section-projects-div-left h2 {
    font-size: 2.7rem;
    line-height: 3.7rem;
    letter-spacing: -0.07em;
    margin-bottom: 3.4rem;
}

.section-projects-div-info-piece h3 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 0.9rem;
}

.section-projects-textBig {
    font-size: 1.4rem;
    line-height: 2.7rem;
    margin: 0 50px 42px 0;
    color: #FFFFFF;
}
.section-projects-textSmall {
    font-size: 1.3rem;
    line-height: 2.1rem;
    color: #FFFFFF; 
    margin-top: 0px;
}
.section-projects-div-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.section-projects-div-info-piece {
    width: 40%;
    margin-bottom: 30px;
}
.section-projects-div-right {
    max-width: 60%;
    display: inline;
    margin-left: 65px;
    vertical-align: top;  
}
.current {
    border-bottom: solid 2px;
}
/*--------------------------------------------
               SECTION ONLINE-CONTROL
--------------------------------------------*/
.section-control {
    margin-top: -300px;
}
.centered {
    text-align: center;
}
.section-control h3 {
    font-size: 2rem;
    line-height: 2.8rem;
}

.section-control-div-image {
    margin: 0px auto 60px auto;
    height: 434px;
    width: 817px;
    background-image: linear-gradient(rgba(3, 3, 3, 0.8),rgba(3, 3, 3, 0.8)),url(img/img-control.png);
}
.play-button {
    display: block;
    position: relative;
    top: 33%;
}
.section-div-Picture {
    margin-top: 12px;
    margin-bottom: 30px;
}
.section-div-Picture hr,
section-div-Picture img {
    display: inline-block;  
}
.section-control-textBig {
    max-width: 681px;
    margin: 34 auto;
    font-size: 1.8rem;
    line-height: 3.7rem; 
}

.request-form {
    margin-top: 90px;
    margin-bottom: 100px;
    
}
.request-form label {
    color: rgba(54, 54, 54, 0.5);  
}
form label {
    font-size: 1.3rem;
    line-height: 2.1rem;
}
.form-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#GET-name, #GET-phone {
   font-size: 1.4rem;
    line-height: 2.3rem;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    margin-right: 68;
}
.checkbox-label-1,
.checkbox-label-2 {
    font-size: 1.4rem;
    line-height: 2.3rem;
}
.checkbox-label-1 {
    color: black;
}
.checkbox-label-1::before,
.checkbox-label-2::before {
    display: inline-block;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #E3B873;
    border-radius: 1px;
    margin-right: 10px;
    vertical-align: middle;
    padding: 8px 3px 0px 3px;
    text-align: center;
}
.div-with-check {
    margin-top: 30px;
}
form input[type="checkbox"] {
    display: none;
    }
form input[type="checkbox"]:checked+.checkbox-label-1::before,
form input[type="checkbox"]:checked+.checkbox-label-2::before {
    content: url(img/checkmark.png);    
}

/*--------------------------------------------
               SECTION TYPES OF REPAIR
--------------------------------------------*/

.section-types-of-repair h3 {
    font-size: 2rem;
    line-height: 2.8rem;
    color: black;
}
.section-types-of-repair-div {
    display: flex;
}
.one-of-three {
    width: 392px;
    height: 421;
    margin: 15px;
}
.one-of-three h3 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: white;
}
.repair-background-one {
    background: url(img/img-repair-1.jpg)
}
.repair-background-two {
    background: url(img/img-repair-2.jpg)
}
.repair-background-three {
    background: url(img/img-repair-3.jpg)
}
.repair-describe-box {
    width:300px;
    height: 243px;
    background: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin: 294px auto 0 auto;
    padding: 25px 0px 0 0;
    
}
.repair-describe-box h4 {
    margin: 0 0 0 34px;
    
}

.repair-describe-box ul {
    padding-inline-start: 54;
    font-size: 1.3rem;
    line-height: 2.7rem;
    color: #959595;
    margin: 0;
}
.repair-describe-box button {
    margin-top: 25px;
    padding: 10px 25px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}
.section-types-of-repair-div-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1440px;
    height: 700px;
    /*border: solid 1px red;*/
    margin: 300px auto 0 auto;
    background-repeat: no-repeat;
    
}
.section-types-of-repair-div-left {
    display: inline-block;
    width: 500px;
    height: 550px;
    padding-top: 100px;
    padding-left: 240px;
    /*border: solid 1px green;*/
    background: url(img/image%206.1.png);
}
.repair-feature {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.repair-feature-num {
    display: inline-block;
    width: 42px;
    height: 42px;
    color: white;
    background-color: #E3B873;
    
    text-align: center;
    font-size: 18px;
    line-height: 42px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    
    border: solid 8px white;
    border-radius: 50%;        
}
.repair-feature-text {
    margin-left: 20px;
    max-width: 316px;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
.section-types-of-repair-div-right {
    display: inline-block;
    width: 527px;
    height: 539px;
    border: solid 1px yellow;
    
}

.section-types-of-repair-form {
    height: 450px;
    width: 409px;
    background-color: black;
    margin: 65px 0 0 110px;
    padding: 28px 49px;
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: white;
}
.form-header{
    padding-bottom: 30px;
}
.section-types-of-repair-form label {
    color: rgba(255, 255, 255, 0.5);  
}
#GET-name2, #GET-phone2, #GET-email {
    background-color: black;
    color: white;
    width: 100%;
    padding: 3px;
    border: 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.15);
    font-size: 1.4rem;
    line-height: 2.3rem;
     
}
#GET-name2, #GET-phone2{
    margin-bottom: 48px; 
}
#GET-email {
    margin-bottom: 16px;
}
.div-with-check .checkbox-label-1 {
    color: black;
}
 .div-with-check-2 .checkbox-label-2 {
    color: white;
}
.rounded-div {
    display: inline-block;
    width: 72px;
    height: 72px;
    background-color: #E3B873;
    background-image: url(img/little-pig.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.note-to-pig-icon {
    width: 244px;
    font-size: 18px;
    line-height: 26px;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    margin-left: 25px;
    margin-top: 10px;
}
.flex-under-form-div {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 38px;
}
/*----------------------------------------------------------
               SECTION WE REALIZE YOUR WILDEST FANTASIES
-----------------------------------------------------------*/
.section-wildest-fantasies {
    margin-top: 200px;
    height: 864px;
    background-image:linear-gradient(rgba(3, 3, 3, 0.7),rgba(3, 3, 3, 0.7)), url(img/img-wildest-fantsies-bg.png);
}
.div-wildest-fantasies {
    display: flex;
}
.div-wildest-fantasies-1 {
    padding-top: 132px;
    display: inline-block;
    width: 490px;
}
.div-wildest-fantasies-1 ul {
    max-width: 490px;
    padding-inline-start: 0;
    margin-top: 37px;
    list-style-type: none;
    font-size: 20px;
    line-height: 49px;
}

.div-wildest-fantasies-1 ul li a {
 color: white;
    text-decoration: none;
}

#selected-li {
    display: inline-block;
    color: #E3B873;
    border-bottom: solid 1px #E3B873;
}
.div-wildest-fantasies-2 {
    max-width: 356px;
    display: inline-block;
}
.div-wildest-fantasies-3 {
    margin-left: 43px;
    max-width: 356px;
    display: inline-block;  
}
.up-left-img {
    margin-top: -40px;
    margin-bottom: 39px;
}
.up-right-img {
    margin-top: -120px;
    margin-bottom: 39px;
    
}
